[Desktop Entry]
Version=1.1
Type=Application
Name=Sublime Text
GenericName=Text Editor
Comment=Sophisticated text editor for code, markup and prose
Icon=sublime-text
Exec=/opt/sublime_text/sublime_text %F
Actions=Window;Document;
MimeType=text/plain;
Categories=Development;
StartupNotify=true

[Desktop Action Window]
Name=New Window
Exec=/opt/sublime_text/sublime_text -n

[Desktop Action Document]
Name=New File
Exec=/opt/sublime_text/sublime_text --command new_file
OnlyShowIn=Old;
