[Desktop Entry]
Version=1.1
Type=Application
Name=Application Finder
NoDisplay=true
Comment=Find and launch applications installed on your system
Icon=edit-find
Exec=xfce4-appfinder
Actions=
Categories=Utility;X-XFCE;
StartupNotify=true
OnlyShowIn=Old;
